.app {
  width: 85%;
  margin: 0 auto;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}