.abiliti-item {
  min-height: 120px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(95, 115, 175);

  border-radius: 3px;
}

.abiliti-item:hover {
  cursor: pointer;
}

.ability-title {
  font-size: 26px;
  color: #A2DED0;
  font-weight: 600;
}

.ability-description {
  font-size: 14px;
  color: #ECF0F1;
  font-weight: 600;
}

.pokemons-has-ability {
  display: flex;
}