.abilities-list {
  height: 780px;
  margin-top: 40px;
  padding: 20px;

  border-radius: 5px;
  background-color: #EEEEEE;
  overflow: scroll;
}

.abilities-items {
  display: flex;
  flex-direction: column;
}